name: Build APK
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: kivy/buildozer:latest
      
    steps:
    - uses: actions/checkout@v4
      
    - name: Build
      run: |
        buildozer android debug
        
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk
