name: Build APK
on: [workflow_dispatch, push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build with Docker
        run: |
          docker run \
            --volume "$(pwd)":/home/user/hostcwd \
            kivy/buildozer \
            buildozer android debug
          
      - uses: actions/upload-artifact@v4
        with:
          name: apk
          path: bin/*.apk
