name: Build APK

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build with Docker (Skip Root Check)
      run: |
        docker run --rm \
          -v "$(pwd)":/src \
          -w /src \
          --env BUILDOZER_ALLOW_ROOT=1 \
          kivy/buildozer:latest \
          buildozer -v android debug

    - name: Upload APK
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: rehab-apk
        path: bin/*.apk
